/* .cell {
  border-style: solid;
  margin: 10px;
  padding: 10px 10px;
} */

.board-rows .board-columns {
  border: 2px solid #d1e4f0;
  padding: 20px 20px;
  /* margin: 20px 20px; */
}

.board {
  border-collapse: collapse;
  margin: 1.5em;
  padding: 1.5em;
  text-align: center;
  width: 90%;
  height: 100%;
}

.board-div {
  display: flex;
  justify-content: center;
  width: 95%;
}

#network-form {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 5px 5px;
  margin: 5px 5px;
}

#network-form input {
  display: inline-block;
  text-align: center;
}

#flow-report {
  text-align: center;
  width: 30%;
}

.algo-chooser {
  display: flex;
  padding: 2px 2px;
  width: 30%;
}

.algo-board {
  display: flex;
  flex-direction: row;
  /* align-items: stretch; */
  /* justify-content: space-between; */
  width: 100%;
}

#ford-fulkerson,
#edmonds-karp {
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
  justify-content: stretch;
  /* align-items: stretch; */
}

#ford-fulkerson button {
  background-color: salmon; /* Green */
}

#edmonds-karp button {
  background-color: lightblue;
}

.algo-board button {
  border: solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.server {
  background-color: rgb(251, 161, 151);
}

.connected-server {
  background-color: rgb(66, 149, 66);
  color: #fefefe;
}

.inPath {
  border-color: coral;
  border-style: solid;
  border-width: 5px;
}

.rheader {
  display: flex;
  justify-content: center;
}

.cheader {
  text-align: center;
}
