/* .cell {
  border-style: solid;
  margin: 10px;
  padding: 10px 10px;
} */

.board-rows .board-columns {
  border: 2px solid #d1e4f0;
  padding: 20px 20px;
  /* margin: 20px 20px; */
}

.board {
  border-collapse: collapse;
  margin: 1.5em;
  padding: 1.5em;
  width: 80%;
  height: 100%;
}

#network-form {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 10px 10px;
  margin: 10px 15px;
}

#network-form input {
  display: inline-block;
  text-align: center;
}

.server {
  background-color: rgb(251, 161, 151);
}

.connected-server {
  background-color: rgb(66, 149, 66);
  color: #fefefe;
}

.inPath {
  border-color: coral;
  border-style: solid;
  border-width: 5px;
}

.rheader {
  display: flex;
  justify-content: center;
}

.cheader {
  text-align: center;
}
